*{
    margin: 0;
}
.main-div{
    background-color: transparent;
    margin-right: 10%;
    cursor: pointer;
    /* border: 2px solid #ff5e00; */
    border-radius: 5%;

}

.main-div:hover{
    box-shadow: 10px 10px 15px black;
    border: 5px solid rgba(82, 235, 105, 0.895);
}

.img-text{
    margin: 0% 5% 1% 4%;
}

#social{
    float: right;
}

#name{
    font-size: 35px;
    font-weight: 300;
}

#img{
    width: 100%;
    border-radius: 5%;
}

#maint{
    margin:5% 10% 0 10%;
}