body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    border: 2px solid black;
    height: 250px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.inner{
    height: 50px;
    width: 50px;
    border: 1px solid black;
}